.resultsPopup {
    width: 250px;
    border: 1px solid #ccc;
    padding: 20px; /* Increased padding for more space inside */
    font-family: Arial, sans-serif;
    position: absolute;
    top: 40px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Fixed a typo ".resultsPopupe" to ".resultsPopup" */
.resultsPopup h3 {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif; /* Specific font for the title */
    font-weight: 700; /* Making the title bold */
    font-size: 24px; /* Increasing the font size for prominence */
}

.resultsPopup ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin-bottom: 10px; /* Added margin for spacing at the bottom of the list */
}

.entry {
    display: flex;
    padding-top: 10px; /* Increased padding for more space inside each entry */
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    align-items: center;
}

.entry > * {
    padding: 0 8px; /* Increased padding for more space between child elements of each entry */
}

.entry > li {
    font-family: 'Roboto', sans-serif; /* Default font for the popup */
}

.entry:hover {
    background-color:#e6eaee;
  }